<div id="<%= dom_id beer %>">
  <p>
    <strong>Brand:</strong>
    <%= beer.brand %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= beer.country %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= beer.quantity %>
  </p>

</div>
